<div class="rip-box-wrapper">
  <h1 class="rip-box-title">Compartilhe os problemas que só você vivencia na UFBA</h1>

  <%= link_to new_report_path, :class => "waves-effect waves-light btn-large btn-facebook rip-btn-fb" do %>
    Entrar com Facebook
  <% end %>
</div>

<div class="container inner">
  <div class="rip-content">
    <h2>Como funciona?</h2>
  </div>

  <%= link_to new_report_path, :class => "waves-effect waves-light btn" do %>
    Nova denúncia <i class="mdi-content-add right"></i>
  <% end %>
</div>
